@import url(https://fonts.googleapis.com/css2?family=Thasadith:wght@700&display=swap);@import url(https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;

0,200;0,300;0,500;1,300;1,700&family=Thasadith:wght@400;700&display=swap);@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
}

html {
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
  animation: fadein 1s ease;
  -moz-animation: fadein 1s ease;
  /* Firefox */
  -webkit-animation: fadein 1s ease;
  /* Safari and Chrome */
  -o-animation: fadein 1s ease;
  /* Opera */
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body {
  background-color: rgba(245, 245, 245, 0.548) !important;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  background: #000000;
}

body::-webkit-scrollbar-thumb {
  background: #e14eee;
  border-radius: 30px;
}

.container {
  min-height: 100vh;
  margin-bottom: 2vh;
}

.navbar-brand {
  font-weight: 600;
  color: #1e1e24;
  font-size: 2.3vh;
}

.top-page {
  height: 8vh;
  padding-bottom: 0;
  width: 100%;
}

nav {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
}

.navbar-nav .nav-item {
  padding-left: 1em;
  padding-right: 1em;
  margin: auto;
}

.navbar-nav .active {
  transform: scale(1.2);
  background-color: rgba(185, 67, 214, 0.5);
  border-radius: 0.5em;
  padding: 0.2em;
  height: 100%;
  font-size: 1.1rem;
  transition: all ease-in-out 0.2s;
  color: black;
}

.navbar-nav .nav-link {
  color: #272727;
  transition: all ease-in-out 0.2s;
}

.navbar-nav .nav-item:hover {
  transition: all ease-in-out 0.2s;
  text-shadow: grey 3px 3px 3px;
}

.container {
  box-shadow: black 0px 0em 3em -1em;
  padding-bottom: 3.5em;
  background-color: white;
}

.container iframe {
  width: 100%;
  height: 50vh;
}

.member_dropdown {
  height: 100%;
  width: wrap;
  background-color: rgba(89, 214, 141, 0.2);
  border-radius: 15px;
}

.bg-nav {
  background-color: white;
}

.bg-black {
  background-color: black;
}

footer {
  box-shadow: #dddddd 0 -4px 15px -11px;
  position: absolute;
  margin-top: 0.2rem;
  padding-top: 0.3rem;
  margin: auto;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  background-color: white;
  left: 0;
  width: 100%;
}

footer .copy {
  color: black;
  text-align: center;
}

.slide-right {
  width: 100%;
  text-align: center;
}

.slide-right h1 {
  -webkit-animation: 1.5s slide-right ease-in-out;
          animation: 1.5s slide-right ease-in-out;
}

.report {
  min-height: 100vh;
}

@-webkit-keyframes slide-right {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes slide-right {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.flickity-prev-next-button .next {
  z-index: 9999;
}

.mean_text {
  font-weight: 400;
  color: #383838;
  background-color: rgba(104, 160, 243, 0.685);
  border-radius: 15px;
  padding: 1rem;
  box-shadow: #929292 4px 6px 10px;
}

.mean_text span {
  color: red;
}

#login {
  background-color: #efefef;
}

.modal-content {
  border-radius: 1.5rem;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.login .login_input {
  border: none;
  border-bottom: #535353 solid 3px;
  margin: 0.6em;
  padding: 0.3em;
  width: 80%;
  height: 3rem;
  text-align: center;
  -webkit-transition: all 0.6s;
}

.login .login_input:focus {
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -o-transform: scale(1.07);
  transition: all 0.6s ease-in-out;
  border-bottom: #69adfc solid 3px;
  border-radius: 5px;
  outline: none;
}

.login .login_input::-moz-placeholder {
  text-align: center;
}

.login .login_input:-ms-input-placeholder {
  text-align: center;
}

.login .login_input::placeholder {
  text-align: center;
}

.login .mem_btn {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .login .login_input {
    width: 80%;
  }
}

.tb_profile {
  font-size: 1.5rem;
}

.img_member-topic {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  height: 100vh;
  padding-bottom: 1em;
  margin-bottom: 1.5em;
}

.img_member-topic img {
  height: 150%;
  width: 150%;
  -o-object-fit: cover;
     object-fit: cover;
}

.member_affter {
  text-align: center;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.form_addplace {
  border: none;
  border-bottom: black 3px solid;
  height: 3em;
  width: 100%;
  transition: all ease 0.5s;
}

.form_addplace:focus {
  background-color: rgba(223, 223, 223, 0.7);
  transition: all ease 0.5s;
  outline: none;
  border-bottom: #57abf0 3px solid;
}

.blink_me {
  color: red;
  -webkit-animation: blinker 1s linear infinite;
          animation: blinker 1s linear infinite;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0.5;
  }
}

@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}

.member-carousel {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0.5em;
}

.member-carousel .carousel-cell {
  outline: none;
  position: relative;
  width: 250px;
  padding: 1em;
  border: 2px solid #6d6d6d;
  border-radius: 15px;
  margin-right: 0.5rem;
  background-color: white;
  height: 250px;
  overflow: hidden;
}

.member-carousel .carousel-cell img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
}

.member-carousel .carousel-cell .member_places-text {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(117, 117, 117, 0.3);
  text-align: center;
  position: absolute;
  z-index: 9;
  transition: ease 0.3s;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.member-carousel .carousel-cell .member_places-text h1 {
  transition: ease-out 0.5s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
}

.member-carousel .carousel-cell .member_places-text h5 {
  transition: ease-out 0.5s;
}

.member-carousel .carousel-cell .member_places-text p {
  transition: ease-out 0.5s;
}

.member-carousel .carousel-cell .member_places-text:hover {
  transform: scale(1.1);
  transition: ease 1s;
  background-color: rgba(201, 201, 201, 0);
}

.member-carousel .carousel-cell .member_places-text:hover h5 {
  opacity: 0;
  transition: ease 1s;
}

.member-carousel .carousel-cell .member_places-text:hover p {
  opacity: 0;
  transition: ease 1s;
}

.member-carousel .carousel-cell .member_places-text:hover h1 {
  transition: ease-out 1s;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.myplace_box {
  border: black 2px solid;
  border-radius: 0.5em;
  padding: 1rem;
  min-height: 150px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 170px;
  margin-bottom: 1em;
}

.myplace_box .col-4 {
  border-left: 1px black solid;
  border-right: 1px black solid;
  overflow: hidden;
}

.homepage-container {
  width: 100%;
}

.homepage-container h1 {
  font-size: 2rem;
  padding: 3rem;
}

.overlay_banner {
  position: absolute;
  top: 25vh;
  right: 0;
  z-index: 3;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  justify-self: center;
  background-color: rgba(255, 255, 255, 0.7);
}

.overlay_banner h1 {
  text-shadow: #383838 5px 5px 10px;
  font-size: 2.5rem;
}

.home-carousel {
  z-index: 2;
  position: relative;
  top: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.home-carousel .carousel-cell {
  width: 100%;
  /* full width */
  height: 50vh;
  background: #222;
  /* center images in cells with flexbox */
  align-items: center;
  justify-content: center;
  max-height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-carousel .carousel-cell img {
  max-height: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media (max-width: 575.98px) {
  .overlay_banner h1 {
    text-shadow: #383838 5px 5px 10px;
    font-size: 1.3rem;
  }

  .route_name-box {
    text-shadow: #707070 3px 3px;
    padding-top: 3rem;
  }
}

.route_box {
  border: 3px solid #6e6e6e;
  margin: auto;
  border-radius: 15px;
  padding: 1em;
  margin-top: 0.5em;
  max-width: 90%;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  -webkit-transition: all 0.1s;
}

.route_box a {
  text-decoration: none;
  color: black;
}

.route_box p {
  color: black;
}

.route_box .img_box {
  width: 100%;
  height: 165px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 1em;
  box-shadow: #818181 0.3em 0.7em 1em 0.1em;
}

.route_box .img_box img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

#moredetail {
  display: none;
}

.route_box:hover {
  transition: all 0.2s;
  border: 3px solid black;
  transform: scale(1.05);
  box-shadow: #696868 5px -5px 7px;
}

.route_box:hover a {
  color: black;
  text-decoration: none;
}

.route_box:hover .route_name-box {
  text-shadow: #707070 3px 3px;
}

.route_box:hover .img_box {
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: none;
  border-radius: 0.5em;
}

.comment_box {
  border-bottom: rgba(0, 0, 0, 0.5) 1px solid;
  padding: 0.5em;
  margin-top: 0.5rem;
}

#route_box-1:hover {
  background-color: #f7b5e8;
}

#route_box-2:hover {
  background-color: #f3b48a;
}

#route_box-3:hover {
  background-color: #4b49ce;
}

#route_box-4:hover {
  background-color: #cd8bfa;
}

#route_box-5:hover {
  background-color: #d5f074;
}

#route-2 {
  border: orange 5px solid;
}

.route_name-box {
  margin: auto;
  text-align: center;
}

.photo_frame-1,
.photo_frame-5,
.photo_frame-4,
.photo_frame-3,
.photo_frame-2 {
  box-shadow: gray 1em 1em 10px;
  border: solid 0.5em rgba(239, 120, 243, 0.5);
  height: 40vh;
  width: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}

.photo_frame-2 {
  border: solid 0.5em #ffb516;
}

.photo_frame-3 {
  border: solid 0.5em #3155f5;
}

.photo_frame-4 {
  border: solid 0.5em #c52eeb;
}

.photo_frame-5 {
  border: solid 0.5em #fcff30;
}

.score-star-avg {
  color: #f5e832;
  text-shadow: black 0px 0px 3px;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.rate:not(:checked) > label:before {
  content: "\2605   ";
}

.rate > input:checked ~ label {
  color: #ffc700;
}

.route_carousel {
  overflow: visible;
}

.route_carousel .carousel-cell {
  outline: none;
  width: 500px;
  margin-left: 3em;
  border-radius: 0.5rem;
  background-color: white;
  height: 340px;
  border: none;
  -o-object-fit: fill;
     object-fit: fill;
}

.route_carousel .carousel-cell img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .route_carousel .carousel-cell img {
    height: 350px;
  }
}

#more {
  display: none;
}

.route_landscape-row {
  transition: all ease 3s;
}

.route_landscape-row h4 {
  margin-top: 1.2rem;
  margin-bottom: 1.3rem;
  text-shadow: black 2px 2px 3px;
}

.btn_route-nav {
  width: 100%;
  height: 4rem;
  border-radius: 0.5em;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0);
  font-family: "Kanit", sans-serif;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.btn_route-nav:hover {
  transition: all 0.2s;
  transform: scale(1.07);
  transform: translateY(1);
  border: 2px solid rgba(29, 196, 65, 0.5);
  text-shadow: black 1px 1px 2px;
}

#btn_route-1 {
  border: 2px solid rgba(239, 120, 243, 0.5);
}

#btn_route-2 {
  border: 2px solid #ffb516;
}

#btn_route-3 {
  border: 2px solid #3155f5;
}

#btn_route-4 {
  border: 2px solid #c52eeb;
}

#btn_route-5 {
  border: 2px solid #fcff30;
}

.detail-carousel {
  height: 350px;
  background-color: whitesmoke;
}

.detail-carousel img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.event_row a {
  text-decoration: none;
  color: black;
}

.event_card {
  transition: all ease 0.1s;
  justify-content: center;
  position: relative;
  height: 45vh;
  border: 1px #6e6e6e solid;
  margin: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 1em;
  border-radius: 15px;
  box-shadow: #919191 10px 10px 7px;
  overflow: hidden;
  color: black;
}

.event_card h2 {
  font-size: 1.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.event_card .event_predetail {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.event_card .event_img-frame {
  height: 200px;
  width: 102%;
  position: absolute;
  bottom: -3px;
  left: -2px;
  border-top: rgba(206, 206, 206, 0.733) 1px solid;
}

.event_card:hover {
  transform: scale(1.05);
  transition: all ease 0.2s;
  box-shadow: #919191 5px 5px 10px;
  border: 2px #3661ec solid;
  z-index: 5;
}

.event_detail-pic {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: gray 5px 5px 5px;
}

