.homepage-container {
    width: 100%;
    h1 {
        font-size: 2rem;
        padding: 3rem;
    }
}
.overlay_banner {
  position: absolute;
  top: 25vh;
  right: 0;
  z-index: 3;
  width: fit-content;
  justify-self: center;
  background-color: rgb(255, 255, 255,0.7);
  h1 {
    text-shadow: rgb(56, 56, 56) 5px 5px 10px;
    font-size: 2.5rem;
  }
}
.home-carousel{
  z-index: 2;
  position: relative;
  top: 0;
    height: fit-content;
      .carousel-cell { 
        width: 100%; /* full width */
        height: 50vh;
        background: #222;
        /* center images in cells with flexbox */
        align-items: center;
        justify-content: center;
        max-height: 50vh;
        object-fit: cover;
          img {
            max-height: 100%;
            height: auto;
            align-items: center;
            justify-content: center;
            width: 100%;
          }

    }
   

}

