.route_box {
    border: 3px solid rgb(110, 110, 110);
    margin: auto;
    border-radius: 15px;
    padding: 1em;
    margin-top: 0.5em;
    max-width: 90%;
    max-height: fit-content;
    -webkit-transition : all 0.1s;
    a {
        text-decoration: none;
        color: black;
    }
    p {
        color: black;
    }
    .img_box {
        width: 100%;
        height: 165px;
        object-fit: cover;
        overflow: hidden;
        border-radius: 1em;
        box-shadow: rgb(129, 129, 129) 0.3em 0.7em 1em 0.1em;
        img {
            object-fit: cover;
            width: 100%;  
        }
    }
}
#moredetail {
    display: none;
}
.route_box:hover {
    transition: all 0.2s;
    border: 3px solid black;
    transform: scale(1.05);
    box-shadow: rgb(105, 104, 104) 5px -5px 7px;
    a {
        color: black;
        text-decoration: none;
    }    
    .route_name-box {
        text-shadow: rgb(112, 112, 112) 3px 3px;
    }
    .img_box {
        border: 2px solid rgb(255, 255, 255 ,0.5);
        box-shadow:none;
        border-radius: 0.5em;
    }
}
.comment_box {
    border-bottom: rgb(0, 0, 0,0.5) 1px solid;
    padding: 0.5em;
    margin-top: 0.5rem;
}
#route_box-1:hover {
    background-color: rgb(247, 181, 232);
}
#route_box-2:hover {
    background-color: rgb(243, 180, 138);
}
#route_box-3:hover {
    background-color: rgb(75, 73, 206);
}
#route_box-4:hover {
    background-color: #cd8bfa;
}
#route_box-5:hover {
    background-color: rgb(213, 240, 116);
}
#route-2 {
    border: orange 5px solid;
}
.route_name-box {
    margin: auto;
    text-align: center;
}
.photo_frame-1 {
    box-shadow: gray 1em 1em 10px;
    border: solid 0.5em rgb(239, 120, 243 ,0.5);
    height: 40vh;
    width: 30vh;
    object-fit: cover;
    border-radius: 100%;
}
.photo_frame-2 {
    @extend .photo_frame-1 ;
    border: solid 0.5em rgb(255, 181, 22);
}
.photo_frame-3 {
    @extend .photo_frame-1 ;
    border: solid 0.5em rgba(49, 85, 245, 1);
}
.photo_frame-4 {
    @extend .photo_frame-1 ;
    border: solid 0.5em rgba(197, 46, 235, 1);
}
.photo_frame-5 {
    @extend .photo_frame-1 ;
    border: solid 0.5em rgb(252, 255, 48);
}

.score-star-avg {
    color: rgb(245, 232, 50);
    text-shadow: black 0px 0px 3px ;
}
  
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}

.route_carousel {
    overflow: visible;
    .carousel-cell {
        outline: none;
        width: 500px;
        margin-left: 3em;
        border-radius: 0.5rem;
        background-color: rgb(255, 255, 255);
        height: 340px;
        border: none;
        object-fit: fill;
        img {
            object-fit: cover;
            width: 100%;
        }
    }
  }
  @media only screen and (min-width: 600px) {
    .route_carousel {
        .carousel-cell {
            img {
            height: 350px;
            }
        }
      }
  }
  #more {
    display: none;
    }
.route_landscape-row {
    transition: all ease 3s;
    h4 {
        margin-top: 1.2rem;
        margin-bottom: 1.3rem;
        text-shadow: black 2px 2px 3px ;
    }
}

.btn_route-nav {
    width: 100%;
    height: 4rem;
    border-radius: 0.5em;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Kanit', sans-serif;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    
}
.btn_route-nav:hover {
    transition: all 0.2s;
    transform: scale(1.07);
    transform: translateY(1) ;
    border: 2px solid rgba(29, 196, 65, 0.5);
    text-shadow: black 1px 1px 2px;
}
#btn_route-1 {
    border: 2px solid rgb(239, 120, 243 ,0.5);
}
#btn_route-2 {
    border: 2px solid rgb(255, 181, 22);
}
#btn_route-3 {
    border: 2px solid rgba(49, 85, 245, 1);
}
#btn_route-4 {
    border: 2px solid rgba(197, 46, 235, 1);
}
#btn_route-5 {
    border: 2px solid rgb(252, 255, 48);
}
// .rate > input:checked + label:hover,
// .rate > input:checked + label:hover ~ label,
// .rate > input:checked ~ label:hover,
// .rate > input:checked ~ label:hover ~ label,
// .rate > label:hover ~ input:checked ~ label {
//     color: #c59b08;
// }